<!-- Making clickable buttons with the company logos and displaying success rates-->
<!DOCTYPE html>
<html>
<head>
    <title>Companies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homeStyle.css') }}">
    <script>
    function Select(element) {
        element.style.borderColor = "red";
    }</script>
</head>
<body>
    
    {% set logos = {
        "SpaceX" : "https://cdn.icon-icons.com/icons2/2389/PNG/512/spacex_logo_icon_144865.png",
        "NASA" : "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/2449px-NASA_logo.svg.png",
        "US Air Force" : "https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/US_Air_Force_Logo_Solid_Colour.svg/2560px-US_Air_Force_Logo_Solid_Colour.svg.png",
        "RVSN USSR" : "https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Great_emblem_of_Strategic_Rocket_Forces_of_Russia.svg/800px-Great_emblem_of_Strategic_Rocket_Forces_of_Russia.svg.png",
        "Arianespace" : "https://upload.wikimedia.org/wikipedia/en/thumb/e/e2/Arianespace_logo.svg/1200px-Arianespace_logo.svg.png",
        "Boeing" : "https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Boeing_full_logo.svg/2560px-Boeing_full_logo.svg.png",
        "Blue Origin" : "https://seeklogo.com/images/B/blue-origin-logo-5D6380B50D-seeklogo.com.png",
        "CASC" : "https://upload.wikimedia.org/wikipedia/en/c/cd/China_Aerospace_Science_and_Technology_Corporation_logo.png",
        "General Dynamics" : "https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/General-Dynamics-Logo.svg/2560px-General-Dynamics-Logo.svg.png",
        "KCST" : "https://cdn.mos.cms.futurecdn.net/9eK4Dd9z46ZYxpqTD72FPj.jpg"
    } %}

    <h1>Select a company</h1>
    {% for i in range (2)%}
    <div class="wrapper">
        {% for j in range(companies|length// 2)%}
        <a href="/rockets?cid={{companies[j+(companies|length//2)*i][3]}}" class="no-underline">
            <div class="smallContainer" onclick="Select(this)"> 
                <p class="nameHeader">
                    <b>{{ companies[j+(companies|length//2)*i][0] }}</b> <br>
                </p>
                <img src="{{ logos[companies[j+(companies|length//2)*i][0]] }}" alt="companies[j+(companies|length//2)*i][0]" style="width: 100%">
                <p>
                    Total Missions: {{ companies[j+(companies|length//2)*i][1] }} <br>
                    Success rate: {{ companies[j+(companies|length//2)*i][2] }} <br>
                </p>
            </div>
        </a>
        {% endfor %}
    </div>
    {% endfor %}
    
</body> 