<!-- A basic homepage -->
<!DOCTYPE html>
<html>
<head>
    <title>Build A Launch</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homeStyle.css') }}">
    <!-- Press to contimue to /companies !-->
</head>
<body>
    <h1>Build A Launch</h1>
    <div class="ruleBox">
        <p class="nameHeader"> 
            <b>
                Made by <br> 
                Kristoffer Sandvang(jzc153) <br> 
                & <br> 
                Mateusz Filipowski (wvk910) 
            </b>
        </p>
        <p class="rules"> 
            For our project in DIS we have made a rocket launch simulator.
            On the following pages you will select a space company, a rocket and a location for your launch.
        </p>
        <p class="nameHeader">
            <b>
                Rules
            </b>
        </p>
        <p class="rules">
            <b>
                1.
            </b>
            If you select a rocket produced by the chosen company, 
            the succes rate for your launch will increase with 10%
        </p>
        <p class="rules"> 
            <b>
                2.
            </b>
            If you select a location where a launch of your chosen rocket has already occured, 
            the succes rate for your launch will increase with 10%
        </p>
        
        <button class="homeButton" onclick="window.location.href='/companies';">Build A Launch</button>
    </div>
    <div>
    </div>

</html>