<!-- Making clickable buttons with the location pictures and displaying success rates-->
<!DOCTYPE html>
<html>
<head>
    <title>Locations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homeStyle.css') }}">
    <style>
        optgroup {
            font-weight: bold;
            color: rgb(184, 15, 10);
            border-bottom: 2px solid black ;
        }
    </style>
</head>
<!-- choosing a location -->
<h1>Choose a Location</h1>
<body>
    
    <form action="/launch" method="GET">
        <label for="location">Select a location:</label>
        <select name="lid" id="location" required size = 10>
            <!--
            {% for country in countries %}
                <optgroup label="{{ country[0] }}"></optgroup>
                {% for location in locations %}
                    {% if country[1] == location[0]%}
                    <option value="{{ location[3] }}">{{ location[1] }}</option>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            -->

            <!-- Choosing a location based on the pre-selected country -->
            {% for location in locations %}
                <option value="{{ location[1] }}">{{ location[0] }}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="hidden"  value="{{ rid }}" name="rid">
        <input type="hidden"  value="{{ cid }}" name="cid">
        <input type="submit" value="Select Location" class="homeButton">
    </form>
</html>
