<!DOCTYPE html>
<html>
<head>
    <title>DISTEST</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homeStyle.css') }}">
    <style>
        optgroup {
            font-weight: bold;
            color: rgb(184, 15, 10);
            border-bottom: 2px solid black ;
        }
    </style>
    <script>
        function ClickedRocket() {
            button = document.getElementById("rocketButton");
            button.style.backgroundColor = "#008000";
            button.style.color = "#f5f5f5";
        }
    </script>
</head>
<body>
    <h1>Select A Rocket</h1>

    <form action="/countries" method="GET">
        <label for="rocket">Select a rocket:</label>
        <select name="rid" id="rocket" required size = 10>
            {% for company in companies%}
                <optgroup label="{{ company[0] }}"></optgroup>
                {% for rocket in rocketInfo %}
                    {% if company[1] == rocket[0]%}
                    <option value="{{ rocket[3] }}" onclick="ClickedRocket()">{{ rocket[1] }}</option>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </select>
        <input type="hidden"  value="{{ cid }}" name="cid">
        <input type="submit" value="Select Rocket" class="rocketButton" id="rocketButton">
    </form>
</body>
</html>
