body {
    background-color: rgb(1, 1, 1);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://www.hdwallpapers.in/download/stars_space_darkness_night_black_sky_background_hd_space-2560x1440.jpg);
}

.wrapper {
    display: flex;
    justify-content: center;
}
.countryBox {
    border: 5px solid gray;
    color: black;
    background-color: lightgrey;
    text-align: center;
    height: 100px;
    width:  100px;
    margin: 10px;
    cursor: pointer;
}
.smallContainer {
    border: 5px solid gray;
    color: black;
    background-color: lightgrey;
    text-align: center;
    height: 250px;
    width:  150px;
    margin: 20px;
}
.smallContainer img {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    height: 50%;
}
a.no-underline {
    text-decoration: none;
}
.nameHeader {
    color: rgb(184, 15, 10);
    font-size: 17px;
}
.locationContainer {
    border: 5px solid gray;
    color: black;
    background-color: lightgrey;
    text-align: center;
    position: relative;
    height: 150px;
    width:  150px;
    margin: 20px;
}
.locationContainer button {
    height: 22 px;
    width: 116 px;
    position: absolute;
    bottom: 3px;
    right: 17.5px;
    color: white;
    border-radius: 5px;
    background-color: green;
    cursor: pointer;
}
.succesRate {
    padding-bottom: 25px;
    height: 28.5;
    width: 138;
    right: 6px;
    left: 6px;
    position: absolute;
    bottom: 10px;
}
label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

select {
    width: 200px;
    height: 400px;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: lightgray;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

h1   {
    color: rgb(255, 255, 255);
    font-size: x-large;
}

h2   {
    color: rgb(255, 255, 255);
}
.ruleBox{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 400px;
    text-align: center;
    background-color: lightgray;
    display: block;
    position: relative;
}
.homeButton {
    background-color: green;
    height: 50px;
    width: 300px;
    font-size: 25px;
    text-align:  center;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 50px;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px gray;
    color: whitesmoke;
}
.rocketButton {
    background-color: rgb(121, 123, 121);
    padding-left: 3.5cm;
    padding-right: 3.5cm;
    padding-top: 0.2cm;
    padding-bottom: 0.2cm;
    font-size: 25px;
    text-align:  center;
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.rules {
    text-align: center;
    color: black;
    font-size: 18px;
}