body {
    background-color: rgb(1, 1, 1);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://www.hdwallpapers.in/download/stars_space_darkness_night_black_sky_background_hd_space-2560x1440.jpg);
}
.homeButton {
    background-color: rgb(121, 123, 121);
    padding-left: 3.5cm;
    padding-right: 3.5cm;
    padding-top: 0.2cm;
    padding-bottom: 0.2cm;
    font-size: 25px;
    text-align:  center;
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.wrapper {
    display: flex;
    justify-content: center;
}
.wrapper2 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.overlay {
    border: 5px solid gray;
    color: black;
    background-color: lightgrey;
    text-align: center;
    height: 80px;
    width:  100px;
    margin: 10px;
}
.smallContainer {
    border: 5px solid gray;
    color: black;
    background-color: lightgrey;
    text-align: center;
    height: 250px;
    width:  150px;
    margin: 20px;
}
.smallContainer img {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    height: 50%;
}
a.no-underline {
    text-decoration: none;
}
.companyName {
    color: rgb(184, 15, 10);
    font-family: Baskerville;
    font-size: 17px;
}

.rocketButton {
    display: flex;
    align-items: center;
    justify-content: center;
}


label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

select {
    width: 200px;
    height: 400px;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: lightgray;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

h1   {
    color: rgb(255, 255, 255);
    font-size: x-large;
}

h2   {
    color: rgb(255, 255, 255);
}
  
